/* ~ VARIABLES ~ */
:root {
  --cl-primary: #b31312;
  --cl-primary-shade-30: #ebd0d0;
  --cl-primary-shade-60: #c67a77;
  --cl-secondary: #a6ae9c;
  --cl-secondary-shade: hsla(87, 10%, 65%, 0.2);
  --color-accent: #00a7cc4d;
  --cl-black: #0c0c0c;
  --cl-white: #f4f5f9;
  --ff-heading: 'DM Serif Display', serif;
  --ff-body: 'DM Sans', sans-serif;
  --fs-display: 5.61rem;
  --fs-3xl: 4.209rem;
  --fs-2xl: 3.157rem;
  --fs-xl: 2.369rem;
  --fs-lg: 1.777rem;
  --fs-md: 1.333rem;
  --fs-reg: 1rem;
  --fs-s: 0.75rem;
  --fs-xs: 0.563rem;
  --spacing-4xl: 12.5rem;
  --spacing-3xl: 6.25rem;
  --spacing-2xl: 3.75rem;
  --spacing-xl: 2.5rem;
  --spacing-l: 1.75rem;
  --spacing-m: 1rem;
  --spacing-s: 0.75rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.25rem;
}

/* ~ REUSABLE CLASSES ~ */
.wrapper {
  max-width: 1440px;
  width: 90%;
  margin-inline: auto;
}

.heading-1 {
  font-size: var(--fs-3xl);
  font-family: var(--ff-heading);
  line-height: 1;
  font-weight: 800;
}

.heading-2 {
  font-size: var(--fs-2xl);
  font-family: var(--ff-heading);
  font-weight: 700;
}

.heading-3 {
  font-size: var(--fs-lg);
  font-family: var(--ff-heading);
  font-weight: 700;
  letter-spacing: 1px;
}

.btn {
  text-align: center;
  padding-block: 0.75rem;
  width: 100%;
  max-width: 220px;
  cursor: pointer;
}

.btn-fill {
  background: var(--cl-white);
  border: 2px solid var(--cl-white);
  color: var(--cl-primary-shade-30);
  transition: all 0.2s linear;
}

.btn-fill:hover {
  background: transparent;
  border: 2px solid var(--cl-white);
  color: var(--cl-white);
}

.btn-outline {
  color: var(--cl-white);
  border: 2px solid var(--cl-white);
  transition: all 0.2s linear;
}

.btn-outline:hover {
  background: var(--cl-white);
  color: var(--cl-primary-shade-30);
}

.hidden {
  display: none !important;
}

.rotate90 {
  transform: rotate(90deg);
}

/* ~ HTML ~ */
html {
  scroll-behavior: smooth;
}

/* ~ BODY ~ */
body {
  font-family: var(--ff-body);
  line-height: 1.1;
  background: var(--cl-white);
}

/* ~ HEADER ~ */
header {
  background: var(--cl-primary);
  padding-block: var(--spacing-m);
}

.header {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 240px;
  margin-right: auto;
}

.navlist {
  display: flex;
  gap: var(--spacing-l);
}

.navlink {
  font-size: var(--fs-md);
  color: var(--cl-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: color 0.5s ease;
}

.navlink:hover {
  color: var(--cl-black);
}

.mobile-nav-wrapper {
  display: none;
}

.mobile-nav-wrapper i {
  font-size: var(--fs-lg);
  color: white;
}

/* ~ HERO ~ */
#hero {
  background-image: url('./images/hero-bg-desktop.jpg');
  background-color: var(--cl-primary-shade);
  height: 700px;
  background-repeat: no-repeat;
  background-size: 2050px;
  background-position: bottom;
}

.hero-wrapper {
  margin-top: -180px;
}

.hero-text {
  background: var(--cl-primary-shade-30);
  max-width: 720px;
  padding: 2.85em 3.5em;
  margin-left: auto;
}

.hero-text h1 {
  margin-bottom: var(--spacing-m);
  overflow: hidden;
}

.hero-text h1 .text {
  position: relative;
  line-height: 1;
}

.text.text-morph::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cl-primary-shade-30);
  border-left: 3px solid var(--cl-primary);
  animation: animate 2s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.hero-text p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

/* ~ BENEFITS */
.benefits {
  margin-top: 8rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4rem;
}

.benefits h2 {
  margin-bottom: var(--spacing-m);
}

.benefits-desc {
  flex: 1;
}

.benefits-desc > p {
  font-size: 1.15rem;
  line-height: 1.5;
  font-weight: 300;
}

.benefits-card-wrapper {
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 480px));
  column-gap: 2rem;
  row-gap: 2rem;
}

.benefits-card > p {
  line-height: 1.5;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: var(--spacing-s);
}

.icons-wrapper {
  width: 68px;
  height: 68px;
  padding: 0.95rem;
  border-radius: 50%;
  background-color: var(--cl-secondary);
}

.icons-wrapper img {
  width: 100%;
  height: 100%;
  min-width: 35px;
}
.benefits-img {
  max-width: 35%;
  flex: 1;
}

.benefits-img img {
  height: 640px;
  object-fit: cover;
}

/* ~ SERVICE LIST */
.service-list {
  margin-top: 8rem;
}

.service-list > h2 {
  text-align: center;
  margin-bottom: var(--spacing-2xl);
}

.service-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 2rem;
}

.services-image {
  position: relative;
}

.services-image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(225, 245, 84, 0) 60%
  );
}

.services img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.services-details {
  padding: 1rem;
  color: var(--cl-white);
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s linear;
}

.services-details:hover {
  cursor: pointer;
}

.services-details h3 {
  transition: color 0.3s linear;
}

.services-details:hover h3 {
  color: var(--cl-primary);
}

.services-details svg {
  max-width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.services-details svg g {
  transition: fill 0.3s linear;
}

.services-details:hover svg g {
  fill: var(--cl-primary);
}

.expanded-details {
  margin-top: 0.65rem;
  line-height: 1.3;
}

/* ~ CONTACT */
#contact {
  background: var(--cl-primary-shade-30);
  margin-top: 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

#contact h2 {
  text-align: center;
}

.contact-choice {
  margin-top: 2rem;
  justify-content: center;
  display: flex;
}

.contact-choice > * {
  font-size: 1.15rem;
  font-weight: 500;
}

.contact-choice .btn:first-of-type {
  border-right: 1px;
}

.contact.active {
  background: var(--cl-white);
  color: var(--cl-primary-shade-30);
}

.form-wrapper {
  max-width: 600px;
  margin: auto;
  margin-top: 4rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper + .input-wrapper {
  margin-top: 2rem;
}

label {
  font-family: var(--ff-heading);
  font-size: 1.5rem;
  color: var(--cl-white);
  margin-bottom: 0.25rem;
}

input,
textarea {
  border-bottom: 2px solid var(--cl-white);
  padding-block: 0.5rem;
  color: var(--cl-secondary);
  font-size: 1.15rem;
}

.submit-button {
  margin-top: 2rem;
  max-width: 100%;
  font-size: 1.15rem;
}

/* ~ FOOTER */
#footer {
  background: var(--cl-primary);
  color: var(--cl-white);
  padding-block: 2rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper > img {
  max-width: 100px;
}

.socials-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-wrapper p:first-of-type {
  font-size: 1.15rem;
}

.socials-wrapper h2 {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials a:hover {
  border-bottom: 1px solid var(--cl-white);
}

.facebook {
  border-right: 1px solid var(--cl-white);
  padding-right: 1rem;
}

.facebook,
.instagram {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.facebook svg,
.instagram svg {
  width: 32px;
}

.whatsapp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.wa-details p:first-of-type {
  font-weight: 700;
  font-size: 1.25rem;
  margin-block: 0.25rem;
}

.wa-details h3:nth-of-type(2) {
  margin-top: 1rem;
}

.wa-details p:nth-of-type(3) {
  margin-top: 0.35rem;
  margin-bottom: 0.25rem;
  font-size: 1.15rem;
}

.wa-details p:nth-of-type(4) {
  font-size: 1.15rem;
  margin-bottom: 1.25rem;
}

.wa-details a {
  display: block;
  max-width: 100%;
}

/* ~ MEDIA QUERY ~ */
@media (max-width: 1024px) {
  .navlink {
    font-size: 1.25rem;
  }

  .benefits {
    gap: 2rem;
  }

  .benefits h2 {
    font-size: 2.85rem;
  }

  .icons-wrapper {
    width: 52px;
    height: 52px;
    text-align: center;
    padding: 0.5rem;
  }

  .icons-wrapper img {
    min-width: 20px;
    max-width: 32px;
  }

  .card-header {
    gap: 0.65rem;
  }

  .card-header h3 {
    font-size: 1.35rem;
  }

  .service-list {
    margin-top: 5rem;
  }

  .service-list > h2 {
    font-size: 2.85rem;
  }

  .contact-wrapper h2 {
    font-size: 2.85rem;
  }

  .benefits-card-wrapper {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .service-list-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.25rem;
  }

  .services-details h3 {
    font-size: var(--fs-md);
  }

  .footer-wrapper {
    display: grid;
    place-items: center;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .footer-wrapper > img {
    order: -1;
  }

  .footer-wrapper p {
    grid-column: span 2;
  }

  .wa-img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  .logo-image {
    width: 180px;
  }

  .navlist {
    gap: 1.15rem;
  }

  .navlink {
    font-size: 1rem;
  }

  .benefits {
    gap: 2rem;
    margin-top: 5rem;
  }

  .benefits-card-wrapper {
    grid-template-columns: repeat(1, minmax(280px, 380px));
    row-gap: 1rem;
  }

  .benefits-img {
    width: 38%;
    flex: 1;
    height: 100%;
  }

  .benefits-img img {
    height: 100vh;
  }

  .benefits-desc h2 {
    font-size: var(--fs-xl);
  }

  .icons-wrapper {
    width: 46px;
    height: 46px;
    padding: 0.35rem;
    text-align: center;
  }

  .icons-wrapper img {
    min-width: 12px;
    max-width: 24px;
  }

  .card-header h3 {
    font-size: 1.35rem;
  }

  .service-list-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .services-details h3 {
    font-size: var(--fs-md);
  }

  .service-list > h2 {
    font-size: var(--fs-xl);
    margin-bottom: 1.5rem;
  }

  .footer-wrapper {
    width: 95%;
  }

  .whatsapp-wrapper {
    gap: 2rem;
  }

  .wa-img {
    max-width: 220px;
  }

  .wa-details h3 {
    font-size: var(--fs-md);
  }

  .wa-details p:first-of-type {
    font-size: 1.15rem;
  }

  .wa-details p:nth-of-type(3),
  .wa-details p:nth-of-type(4) {
    font-size: 1.05rem;
  }

  .wa-details a {
    padding-inline: 0.5rem;
  }
}

@media (max-width: 550px) {
  .transparent {
    opacity: 0;
  }

  .slide-right {
    transform: translateX(-50px);
  }

  header {
    position: relative;
  }

  .navbar {
    display: none;
    position: absolute;
    background: var(--cl-primary-shade-60);
    top: 84px;
    right: 0;
    left: 0;
    height: calc(100vh - 84px);
    padding-left: 2rem;
    padding-top: 2rem;
    transition: all 0.5s ease;
    z-index: 999;
  }

  .navbar.appear {
    display: block;
  }

  .navlist {
    flex-direction: column;
    gap: 2rem;
  }

  .navitem {
    transform: translateX(-1000px);
    transition: all 0.5s ease;
  }

  .navitem.slide-right {
    transform: translateX(0);
  }

  .navitem:nth-of-type(2) {
    transition-delay: 0.25s;
  }
  .navitem:nth-of-type(3) {
    transition-delay: 0.5s;
  }
  .navitem:nth-of-type(4) {
    transition-delay: 0.75s;
  }

  .navlink {
    font-size: 1.25rem;
  }

  .mobile-nav-wrapper {
    display: block;
  }

  .mobile-nav-wrapper .close-button {
    font-size: 2.35rem;
  }

  #hero {
    height: 580px;
    background-image: url('/images/hero-bg-mobile.webp');
    background-size: 1400px;
    background-position: bottom;
  }

  .hero-wrapper {
    margin-top: -220px;
  }

  .hero-text {
    padding: 2rem;
  }

  .hero-text h1 {
    font-size: var(--fs-2xl);
  }

  .hero-text p {
    font-size: 1.15rem;
  }

  .benefits {
    flex-direction: column-reverse;
  }

  .benefits-img {
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .benefits-img::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(166, 174, 156, 1) 0%,
      rgba(225, 245, 84, 0) 78%
    );
  }

  .benefits-img img {
    width: 100%;
    height: 460px;
    object-fit: cover;
  }

  .benefits-desc {
    margin-top: -170px;
    z-index: 2;
  }

  .benefits-desc h2 {
    text-align: center;
    color: var(--cl-white);
  }

  .benefits-desc > p {
    color: var(--cl-white);
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .benefits-card-wrapper {
    grid-template-columns: repeat(1, minmax(280px, 460px));
  }

  .whatsapp-wrapper {
    flex-direction: column;
  }

  .wa-img {
    max-width: 240px;
  }

  .wa-details {
    width: 85%;
  }

  .footer-wrapper {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
  }

  .footer-wrapper p {
    grid-column: 1;
  }
}

@media (max-width: 375px) {
  .logo-image {
    width: 140px;
  }

  .hero-text {
    padding: 1.25rem;
  }

  .hero-text h1 {
    font-size: var(--fs-xl);
  }

  .hero-text p {
    font-size: var(--fs-reg);
  }

  .benefits h2 {
    margin-bottom: var(--spacing-xs);
  }

  .benefits-desc h2 {
    font-size: var(--fs-xl);
  }

  .benefits-desc > p {
    font-size: var(--fs-reg);
  }

  .wrapper.benefits-img {
    width: 100%;
  }

  #contact {
    margin-top: 5rem;
  }

  .contact-wrapper h2 {
    font-size: var(--fs-xl);
  }

  .contact-choice > * {
    font-size: var(--fs-reg);
  }

  .wa-details {
    width: 100%;
  }

  .submit-button {
    font-size: var(--fs-reg);
  }

  .footer-wrapper p:first-of-type {
    font-size: var(--fs-reg);
  }
}
